$bordebase: #ccc;
$fondobase:antiquewhite;

@mixin cuadro{
    border: 1px solid $bordebase;
    background-color: $fondobase;
}
#header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 100; 
    @include cuadro;
}

#footer {
    @include cuadro;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
}

#body {
    border: 1px solid $bordebase;
    background-color: #c0fa0c;
    position: absolute;
    top: 80px;
    @media (min-width:900px) { 
        width: 900px;
    }
    @media(min-width:400px) and (max-width: 900px) {
        width: 600px;
    }
    @media(max-width:400px){
        width: 100%;
    }

}

.space {
    height: 350px;
    border: 1px solid $bordebase;
    background-color: aqua;
    float: left;
    @media (min-width:900px) { 
        width: 300px;
    }
    @media(min-width:400px) and (max-width: 900px) {
        width: 200px;
    }
    @media(max-width:400px){
        width: 100%;
    }
}


