@import "sass_helper";

ul {
    list-style-type: lower-greek;
    li {
        font-style: italic;
        a {
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
            &#google {
                color: red;
            }
            &#face {
                color: blue;
            }
            &#youtube {
                color: green;
            }
        }
    }
}